---
name: docs

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read
  id-token: write
  pages: write

concurrency:
  group: github-pages
  cancel-in-progress: false

jobs:
  docs:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: True
      - uses: actions/setup-python@v6
      - run: uv sync --all-extras
      - run: uv run mkdocs build
      - uses: actions/configure-pages@v5
      - uses: actions/upload-pages-artifact@v4
        with:
          path: site/
      - uses: actions/deploy-pages@v4
        id: deployment

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
